body {
    font: 11px 'Tahoma', 'Helvetica', 'Arial', sans-serif;
    direction: rtl;
    margin: 0;
}

p {
    margin-bottom: 20px;
}

.content {
    width: 70%;
    margin: 32px auto;
}


.ltr {
    direction: ltr;
}

input[type="text"],
input[type="password"] {
    clear: both;
    float: none;
    display: block;
    max-width: 400px;
    width: 100%;
    margin: 5px 0;
    padding: 3px;
    border: 1px solid black;
    font-family: inherit;
}

button[type="submit"] {
    clear: both;
    float: none;
    display: block;
    padding: 3px 40px;
    margin: 5px 30px 5px 0;
    font-family: inherit;
}

a.button {
    display: inline-block;
    cursor: pointer;
    padding: 3px 60px;
    margin: 5px 0;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-family: inherit;
    text-decoration: none !important;
}

a.button.red {
    background-color: red;
    color: white;
    border-color: red;
}

.era {
    display: block;
    padding: 1.5px 0;
}

ul.error {
    margin: 5px 0;
    padding: 0;
    display: block;
    color: red;
}

ul.error > li {
    list-style-position: inside;
}

.box {
    display: block;
    padding-top: 10px;
}

table.info {
    border-collapse: collapse;
}

table.info td,
table.info th {
    box-sizing: border-box;
    padding: 12px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

table.info th {
    border-top: 1px solid black;
}

table.info td:last-child,
table.info th:last-child {
    border-left: 1px solid black;
}

a.action {
    display: inline-block;
    padding: 0 5px;
}