	<form method="post" action="{{ form_handler }}">
		<input id="date_input_1" type="text" name="datetime" class="ltr" placeholder="تاریخ آغاز" value="{{ datetime_val }}"><img id="date_btn_1" src="{{ ROOT_URL }}/images/cal.png" style="vertical-align: top;">
		<input id="date_input_2" type="text" name="datetime2" class="ltr" placeholder="تاریخ اتمام" value="{{ datetime2_val }}"><img id="date_btn_2" src="{{ ROOT_URL }}/images/cal.png" style="vertical-align: top;">
		
		<script src="{{ ROOT_URL }}/js/jalali.js"></script>
		<script src="{{ ROOT_URL }}/js/calendar.js"></script>
		<script src="{{ ROOT_URL }}/js/calendar-setup.js"></script>
		<script src="{{ ROOT_URL }}/js/calendar-fa.js"></script>
		<link rel="stylesheet" href="{{ ROOT_URL }}/css/calendar.css"></script>
		<script>
			Calendar.setup({
				inputField     :    "date_input_1",   // id of the input field
				button         :    "date_btn_1",   // trigger for the calendar (button ID)
				   ifFormat       :    "%d %m %Y %H:%M",       // format of the input field
				   showsTime      :    true,
				dateType	   :	'jalali',
				timeFormat     :    "24",
				weekNumbers    : false
			});
			Calendar.setup({
				inputField     :    "date_input_2",   // id of the input field
				button         :    "date_btn_2",   // trigger for the calendar (button ID)
				   ifFormat       :    "%d %m %Y %H:%M",       // format of the input field
				   showsTime      :    true,
				dateType	   :	'jalali',
				timeFormat     :    "24",
				weekNumbers    : false
			});
		</script>
		<input type="text" name="for_whome_nc" class="ltr" value="{{ for_whome_nc_val }}" placeholder="کد ملی کلاینت">
		<ul class="error">
			{{ for:error_messages }}
				<li>{{ error_message }}</li>
			{{ /for:error_messages }}
		</ul>
		<button type="submit" name="submit">ثبت</button>
	</form>
	