<div class="era">
	<a class="button" href="{{ ROOT_URL }}/?c=insurances&m=add">افزودن بیمه جدید</a>
</div>
<div class="box">
	<table class="info">
		<thead>
			<tr>
				<th>تاریخ آغاز</th>
				<th>تاریخ اتمام</th>
				<th>نام - نام خانوادگی - کد ملی کلاینت</th>
				<th>ثبت شده توسط</th>
				<th>عملیات</th>
			</tr>
		</thead>
		<tbody>
			{{ for:insurances }}
				<tr>
					<td>{{ datetime }}</td>
					<td>{{ datetime2 }}</td>
					<td>{{ for_whome }}</td>
					<td>{{ added_by }}</td>
					<td>
						<a href="{{ ROOT_URL }}/?c=insurances&m=delete&id={{ id }}" class="action">
							<img src="{{ ROOT_URL }}/images/delete.png" alt="حذف" title="حذف">
						</a>
					</td>
				</tr>
			{{ /for:insurances }}
		</tbody>
	</table>
</div>