<div class="era">
	<a class="button" href="{{ ROOT_URL }}/?c=users&m=add">افزودن کاربر جدید</a>
</div>
<div class="box">
	<table class="info">
		<thead>
			<tr>
				<th>نام کاربری</th>
				<th>پست الکترونیک</th>
				<th>نام</th>
				<th>نام خانوادگی</th>
				<th>کد ملی</th>
				<th>نام پدر</th>
				<th>شماره تماس</th>
				<th>آخرین ورود به سایت</th>
				<th>عملیات</th>
			</tr>
		</thead>
		<tbody>
			{{ for:users }}
				<tr>
					<td>{{ username }}</td>
					<td>{{ email }}</td>
					<td>{{ firstname }}</td>
					<td>{{ lastname }}</td>
					<td>{{ national_code }}</td>
					<td>{{ father_name }}</td>
					<td>{{ phone_no }}</td>
					<td>{{ last_login }}</td>
					<td>
						<a href="{{ ROOT_URL }}/?c=users&m=delete&id={{ id }}" class="action">
							<img src="{{ ROOT_URL }}/images/delete.png" alt="حذف" title="حذف">
						</a>
					</td>
				</tr>
			{{ /for:users }}
		</tbody>
	</table>
</div>