	<form method="post" action="{{ form_handler }}">
		<input type="text" name="firstname" value="{{ firstname_val }}" placeholder="نام">
		<input type="text" name="lastname" value="{{ lastname_val }}" placeholder="نام خانوادگی">
		<input type="text" name="national_code" class="ltr" value="{{ national_code_val }}" placeholder="کد ملی">
		<input type="text" name="father_name" value="{{ father_name_val }}" placeholder="نام پدر">
		<input type="text" name="phone_no" class="ltr" value="{{ phone_no_val }}" placeholder="شماره تماس">
		<ul class="error">
			{{ for:error_messages }}
				<li>{{ error_message }}</li>
			{{ /for:error_messages }}
		</ul>
		<button type="submit" name="submit">ثبت</button>
	</form>
	