<div class="era">
	<a class="button" href="{{ ROOT_URL }}/?c=clients&m=add">افزودن کلاینت جدید</a>
</div>
<div class="box">
	<table class="info">
		<thead>
			<tr>
				<th>نام</th>
				<th>نام خانوادگی</th>
				<th>کد ملی</th>
				<th>نام پدر</th>
				<th>شماره تماس</th>
				<th>ثبت شده توسط</th>
				<th>تاریخ ثبت</th>
				<th>عملیات</th>
			</tr>
		</thead>
		<tbody>
			{{ for:clients }}
				<tr>
					<td>{{ firstname }}</td>
					<td>{{ lastname }}</td>
					<td>{{ national_code }}</td>
					<td>{{ father_name }}</td>
					<td>{{ phone_no }}</td>
					<td>{{ registered_by }}</td>
					<td>{{ registered_datetime }}</td>
					<td>
						<a href="{{ ROOT_URL }}/?c=clients&m=delete&id={{ id }}" class="action">
							<img src="{{ ROOT_URL }}/images/delete.png" alt="حذف" title="حذف">
						</a>
					</td>
				</tr>
			{{ /for:clients }}
		</tbody>
	</table>
</div>