<!DOCTYPE html>
<html lang="fa">
	<head>
		<meta charset="utf-8">
		<title>{{ page_title }}</title>
		<link rel="stylesheet" href="{{ ROOT_URL }}/css/global.css?v=3">
	</head>
	<body>
		<div class="content">
			<header class="main">
				<h1>{{ page_title }}</h1>
			</header>