<form method="post" action="{{ form_handler }}">
	<input type="text" name="username" class="ltr" placeholder="نام کاربری">
	<input type="password" name="password" class="ltr" placeholder="کلمه عبور">
	<ul class="error">
		{{ for:error_messages }}
			<li>{{ error_message }}</li>
		{{ /for:error_messages }}
	</ul>
	<button type="submit" name="submit">ثبت</button>
</form>
