<div class="era">
	<a class="button" href="{{ ROOT_URL }}/?c=users&m=index">مدیریت کاربران</a>
	<a class="button" href="{{ ROOT_URL }}/?c=clients&m=index">مدیریت کلاینت‌ها</a>
	<a class="button" href="{{ ROOT_URL }}/?c=insurances&m=index">مدیریت بیمه‌ها</a>
	<a class="button red" href="{{ ROOT_URL }}/?c=home&m=logout">خروج از پنل</a>
</div>
